parameters:
  daipecore:
    logger:
      type: default

services:
  daipecore.logger:
    class: logging.Logger
    factory: ['@daipecore.logger.DynamicLoggerFactory', 'create']

  daipecore.logger.LoggerFactory:
    tags:
      - {name: 'daipe.logger.factory', alias: 'default'}

  daipecore.logger.DynamicLoggerFactory:
    arguments:
      - !tagged_aliased ['daipe.logger.factory', '%daipecore.logger.type%']

  daipecore.function.ArgumentResolver:
    arguments:
      - '@daipecore.logger'

  daipecore.function.ArgumentsResolver:

  daipecore.lineage.argument.ArgumentClassResolver:
    arguments:
      - !tagged 'lineage.decorator.function.argument_mapping'

  daipecore.lineage.argument.ArgumentParser:

  daipecore.lineage.notebook_function_parser:
    class: daipecore.lineage.InputDecoratorParser
    arguments:
      - 'notebook_function'
      - 'daipecore.lineage.InputDecorator'
      - 'InputDecorator'
    tags:
      - 'lineage.decorator.parser'
